* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(50, 50, 50, 0.267);
    height: auto;
    box-shadow: 0px 4px 15px rgb(107, 104, 54);
    position: relative;
}

header img {
    height: 120px;
    border-radius: 25px;
}

header h1 {
    font-family: "Quintessential", cursive;
    margin-left: -200px;
    text-align: center;
    width: 100%;
}

header nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

header nav li a:hover {
    background-color: rgb(107, 104, 54);
}

header .social {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 20px;
}

header .social a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

header .social a img:hover {
    transform: scale(1.1);
}